<html>
  <head>
    	<title>Panzi View</title>
  </head>
  <body BGCOLOR="BLACK">
    <img src="{{ url_for('video_feed') }}" style = "display:block; margin-left: auto; margin-right: auto;">
  </body>
</html>
